### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/

#mods for Docker into MyFramework
MyFramework/Dockerfile
MyFramework/docker-compose.yml
MyFramework/.devcontainer

#mods for Docker int testFrameworkperso
testFrameworkperso/Dockerfile
testFrameworkperso/docker-compose.yml
testFrameworkperso/.devcontainer

#pour les logs:
testFrameworkperso/log/log1.log